@import 'fonts/fontawesome.css';
@import 'fonts/ionicons.css';
@import 'fonts/linearicons.css';
@import 'fonts/open-iconic.css';
@import 'fonts/pe-icon-7-stroke.css';
@import 'fonts/feather.css';
@import 'css/bootstrap-material.css';
@import 'css/shreerang-material.css';
@import 'css/pages/search.css';
@import 'css/uikit.css';
@import "libs/perfect-scrollbar/perfect-scrollbar.css";
@import "libs/datatables/datatables.css";
@import "libs/nouislider/nouislider.css";
@import "libs/bootstrap-sweetalert/bootstrap-sweetalert.css";



  .start-button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg,#ea492c 0%,#d9371b 47.43799847044684%,#9d230d 51%,#f3644b 99.53020867475145%);
    border-radius: 5px;
    border: 1px solid #ef0303;
    border-width: 1px 1px 1px 1px;
    padding: 10px 20px 10px 20px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
      color: #fff;
    font-size: 50px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
    }
  .start-button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
    }
  .start-button > i {
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static
    }
  .start-button  > .ld {
    font-size: initial
  }
